html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #E6DDD4;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
}

.sidespace{
    width: 95%;
    background-color: #fdf8f3;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    margin: auto;
}

.favorites {
    display: flex;
    align-items: stretch;
    width: 99%; 
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .favorites{
        flex-direction: column;
    }
    .intro{
        gap: 20px;
    }
    .slider-wrapper{
        width: 100%;
    }
}

.intro {
    height: auto;
    width: 100%; 
    padding: 20px; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro h2, .intro p, .intro a, .faq-heading, .categories > h2, .categories > p{
    color: #191919;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px
}

.intro p, .intro a{
    font-size: 20px;
}
.intro a{
    font-weight: 700;
}

.item-slider {
    width: 80%; 
    overflow: hidden;
    display: flex; 
}

.faq-heading{
    padding: 18px;
}


/* Categories page styling */
.categories{
    background-color: #fdf8f3;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.categories > h2{
    padding: 25px 18px;
    margin: 0;
}

.categories p{
    width: 80%;
    padding: 18px;
    font-size: 25px;
}

.category-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
    padding-bottom: 40px;
}

.banner{
    width: 100%;
    height: auto;
}

/* Sign up login */

.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.signup_page > h2{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 600;
} 
.signup_page{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #E6DDD4;
    padding: 25px;
    gap: 20px;
    width: 350px;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.input{
    width: 100%;
    height: 40px;
    border: 1px #a6a6a6 solid;
    background-color: #fdf8f3;
    padding: 0 15px;
    box-sizing: border-box;
}
#check{
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

.button{
    background-color: #191919;
    height: 40px;
    color: #fdf8f3;
    border: none;
    width: 100%;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input::placeholder{
    color: #a6a6a6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login{
    display: flex;
    color: #6c6c68;
    gap: 8px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: flex-start;
}

.login-link{
    color: #191919;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

/* ShopCategory css */

.categoryPage{
    color: #191919;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:0px 20px;
}
.categoryHeading{
    font-size: 50px;
    align-items: center;

}

.line{
    border-color: white;
}

.itemList{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
}

.itemList > .item{
    width: 24%;
}

@media screen and (max-width: 1150px) {
    .itemList > .item{
        width: 32%;
    }
}

@media screen and (max-width: 800px) {
    .itemList > .item{
        width: 49%;
    }
}