.faqs {
    padding: 35px 18px;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    background-color: #E6DDD4;
    margin: 18px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .question {
    color: #191919;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
  }
  
  .answer {
    color: #191919;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
    font-size: 20px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
  }
  
  .answer.expanded {
    max-height: 250px;
  }
  