.centre-container{
    display: flex;
    justify-content: center;
}
.cartItems {
    margin-bottom: 0;
    padding-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.cartItems > hr {
    height: 2px;
    background-color: #d3d3d3;
    border: 0;
    margin-bottom: 20px;
}

.cartItems-format, .cartItems-heading{
    display: grid;
    grid-template-columns: 0.6fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.cartItems-heading {
    color: #2a2a2a;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #d3d3d3;
}

.cartItems-format {
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #d3d3d3;
    transition: background-color 0.3s ease;
}

.cartItems-format:hover {
    background-color: rgba(0,0,0,0.25);
}

.cartItem-icon {
    height: 80px;
    object-fit: cover;
}

.cartItem-remove-icon {
    width: 30px;
    cursor: pointer;
    color: #ff5252;
    transition: color 0.3s ease;
}

.cartItem-remove-icon:hover {
    color: #ff0000;
}

.cartItem-name {
    overflow: hidden;
    max-width: 300px;
    font-weight: 600;
    color: #333;
}

.cartItem-qty {
    width: 50px;
    height: 35px;
    border: 2px solid #ebebeb;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 35px;
}

.cartItems-down {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}

.cartItems-total {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px
}

.cartItems-total-item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 10px 0;
    font-weight: 600;
    color: #333;
}

.cartItems-total button {
    width: 100%;
    max-width: 300px;
    height: 50px;
    border: none;
    background-color: #191919;
    color: #fdf8f3;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cartItems-total button:hover {
    background-color: rgba(0,0,0,0.8);
}

.cartItems-promocode {
    font-size: 16px;
    font-weight: 500;
    color: #191919;
}

.cartItems-promobox {
    width: 400px;
    max-width: 500px;
    height: 50px;
    display: flex;
    margin-top: 15px;
    overflow: hidden;
}

.cartItems-promobox input {
    border: none;
    outline: none;
    background-color: #E6DDD4;
    font-size: 16px;
    padding-left: 20px;
    width: 70%;
    height: 100%;
}

.cartItems-promobox button {
    width: 30%;
    height: 100%;
    font-size: 16px;
    background-color: #191919;
    color: #fdf8f3;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cartItems-promobox button:hover {
    background-color: #333;
}


@media(max-width: 1280px) {
    .cartItems{
        margin: 60px 50px;
    }
    .cartItems-heading, .cartItems-format{
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        padding: 15px 0;
        font-size: 15px;
    }

    .cartItem-icon{
        height: 50px;
    }

    .cartItem-qty{
        width: 40px;
        height: 30px;
    }

    .cartItems-down{
        margin: 80px 0;
        flex-direction: column-reverse;
        gap: 80px;
    }

    .cartItems-total button{
        max-width: 200px;
        height: 45px;
        font-size: 13px;
    }

    .cartItems-down{
        justify-content: center;
    }
}

@media(max-width: 500px) {
    .cartItems-heading{
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 10px;
    }

    .cartItems-format{
        display: grid;
    }

    .cartItems-total, .cartItems-promobox{
        width: 300px;
    }
}