.flex-container{
    display: flex;
    width: 100%;
}
.about-image{
    height: 100%;
    width: 50%;
    margin: 18px;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.about-section{
    padding: 18px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #E6DDD4;
    background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    margin: 18px;
    border-radius: 10px;
}

@media screen and (max-width: 1338px) {
    .flex-container{
        flex-direction: column;
        align-items: center;
    }
    .about-image{
        width: 95%;
    }
}

.feature-img{
    width: 80px;
}
.about-section h2{
    color: #191919;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px
}
.about-section p{
    color: #191919;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.about-section a{
    margin-top: 15px;
    color: #191919;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.prop-container{
    display: flex;
}
.prop{
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33.3%;
    border: 1px solid #191919;
    box-shadow: 0 0 10px rgba(25, 25, 25, 0.7), 0 0 15px rgba(255, 255, 255, 0.3);
    margin: 18px;
    border-radius: 10px;
    box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
    .prop-container{
        flex-direction: column;
    }
    .prop{
        width: auto;
    }
}
.prop h2{
    color: #191919;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-right: 28px;
}
.prop p{
    color: #191919;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
